@keyframes btn-anim {
    0% {
        left: -100%;
    }
    50%,100% {
        left: 100%;
    }
}

.login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 1000%;
    background: linear-gradient(100deg, transparent, #ff0043);
    animation: btn-anim2 ls linear infinite;
    animation-delay: .25s;
}

@keyframes btn-anim2 {
    0% {
        top: -100%
    }
    50%,100% {
        top: 100%;
    }
}