.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {

    top: -20px;
    left: 0;
    color: #ff0043;
    font-size: 12px;
} 

.login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #ff0043;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
}